[submodule "koans/elixir-koans"]
	path = koans/elixir-koans
	url = https://github.com/elixirkoans/elixir-koans.git
[submodule "koans/ruby-koans"]
	path = koans/ruby-koans
	url = https://github.com/edgecase/ruby_koans.git
